<div id="<%= dom_id practitioner %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">First name:</strong>
    <%= practitioner.first_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Last name:</strong>
    <%= practitioner.last_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Phone:</strong>
    <%= practitioner.phone %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Email:</strong>
    <%= practitioner.email %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Practice:</strong>
    <%= practitioner.practice_id %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this practitioner", practitioner, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this practitioner", edit_practitioner_path(practitioner), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
