<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">New practitioner</h1>

  <%= render "form", practitioner: @practitioner %>

  <%= link_to "Back to practitioners", practitioners_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
