<div id="<%= dom_id patient %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">First name:</strong>
    <%= patient.first_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Last name:</strong>
    <%= patient.last_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Phone:</strong>
    <%= patient.phone %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Phone2:</strong>
    <%= patient.phone2 %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Address:</strong>
    <%= patient.address %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Address2:</strong>
    <%= patient.address2 %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Cp:</strong>
    <%= patient.cp %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Town:</strong>
    <%= patient.town %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Email:</strong>
    <%= patient.email %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Practice:</strong>
    <%= patient.practice_id %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this patient", patient, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this patient", edit_patient_path(patient), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
