<div id="<%= dom_id practice %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= practice.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Address:</strong>
    <%= practice.address %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Address2:</strong>
    <%= practice.address2 %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Cp:</strong>
    <%= practice.cp %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Town:</strong>
    <%= practice.town %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Phone:</strong>
    <%= practice.phone %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Phone2:</strong>
    <%= practice.phone2 %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Email:</strong>
    <%= practice.email %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this practice", practice, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this practice", edit_practice_path(practice), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
