<div id="<%= dom_id appointment %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Practice:</strong>
    <%= appointment.practice_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Start:</strong>
    <%= appointment.start %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">End:</strong>
    <%= appointment.end %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= appointment.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= appointment.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Practitioner:</strong>
    <%= appointment.practitioner_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Patient:</strong>
    <%= appointment.patient_id %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this appointment", appointment, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this appointment", edit_appointment_path(appointment), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
